<div class="row-fluid">    
  
  
  <div class="span12" ng-show="user.user">
    <label class="control-label" for="inputName">Name: <i class="icon-user"></i> {{user.user.displayName}}{{user.user.identifier}}</label> 
  </div>
  
  <div class="row-fluid">
    <div class="span7">
      <strong>List of Public File </strong>    
      <ul>
        <li ng-repeat="user in content_list">
          {{user.name}}
          <ul>
            <li ng-repeat="content in user.files">
              <span ng-click="get(content._id)">
                <span class="badge badge-success" ng-show="content.metadata.type == 'haml'">T</span>	      
                <span class="badge badge-info" ng-show="content.metadata.type == 'json'">C</span>	
                <span class="badge" ng-show="content.metadata.type == 'xml'">XML</span>      
                {{content.filename}} 
                <blockquote>
                 <small><span ng-bind="content.metadata.user.identifier"></span></small>
                </blockquote>
              </span>
            </li>
          </ul>
        </li>
      </ul>                  
    </div>
   
    <div class="span5">
      <div class="tab-content">
        <div ng-model="ace_content" codemirror="text">
          <strong>Content:</strong> {{document.filename}} 
          <span ng-show="user.user">
            <label class="control-label" for="inputName">
                Owner: <i class="icon-user"></i> {{document.metadata.user.identifier}}
            </label> 
          </span>
          <textarea></textarea>
        </div>
      </div>
    </div>                                                                 
   </div>
  </div>
</div>
